@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 222 47% 11%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
